div#containerMods {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
#comm2 {
    color: red;
    text-align: center;
}
H2 {
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.menu-area li a {
    text-decoration: none;
}

.menu-area li {
    list-style-type: none;
}

nav {
    height: 50px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: dodgerblue;
    z-index: 1;
    text-align: right;
    padding: 10px 2% 10px 0;
}

.logo1 {
    width: 15%;
    float: left;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
    margin-top: -5px;
}

.menu-area li {
    display: inline-block;
}

.menu-area a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
}

.menu-area a:hover {
    background: tomato;
    color: #fff;
}
.error
{
    clear: both;
    color: red;
    font-weight: normal;
}
#container
{
    background-color: white;
    width: 400px;
    height: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input[type=text],
input[type=password],
input[type=email]
{
    width: 100%;
    background-color: ghostwhite;
    border: 2px solid darkgray;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus
{
    -webkit-box-shadow: 0 0 10px 2px dodgerblue;
    -moz-box-shadow: 0 0 10px 2px dodgerblue;
    box-shadow: 0 0 10px 2px dodgerblue;
    border: 2px solid dodgerblue;
    color: dodgerblue;
}

input[type=submit]
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: dodgerblue;
    font-size:20px;
    color: white;
    padding: 10px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:focus
{
    -webkit-box-shadow: 0 0 15px 5px dodgerblue;
    -moz-box-shadow: 0 0 15px 5px dodgerblue;
    box-shadow: 0 0 15px 5px dodgerblue;
}

input::-webkit-input-placeholder
{
    color: dodgerblue;
}
input:focus::-webkit-input-placeholder
{
    color: dodgerblue;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: dodgerblue;
}
input:focus:-moz-placeholder
{
    color: dodgerblue;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: dodgerblue;
}
input:focus::-moz-placeholder
{
    color: dodgerblue;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: dodgerblue;
}
input:focus:-ms-input-placeholder
{
    color: dodgerblue;
}


