<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">

</head>
<body>
<div class="custom-padding">
    <nav>
        <div class="logo1">BlueBus</div>
        <ul class="menu-area">
            <li><a href="/">Home</a></li>
            <li><a href="/searchConnections">find connection</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    </nav>
</div>
<div style="height: 30px"></div>
<div class="container" id="containerMods">
    <h2>Enter your data:</h2>
    <form id="form" method="post">

        <div class="formFields">
            <input type="text"
                   name="login"
                   id="login"
                   value="" placeholder="Your login">
            </div>
        <div style="height: 15px"></div>
        <div class="formFields">
                <input type="text"
                       name="firstName"
                       id="firstName"
                       value="" placeholder="your first name"/>
            </div>
        <div style="height: 15px"></div>
        <div class="formFields">
                <input type="text"
                       name="lastName"
                       id="lastName"
                       value="" placeholder="Your last Name">
            </div>
        <div style="height: 15px"></div>
        <div class="formFields">
                <input type="password"
                       id="password"
                       value="" placeholder="Your password">
            </div>
        <div style="height: 15px"></div>
        <div class="formFields">
                    <input type="password"
                           name="confirmPassword"
                           id="confirmPassword"
                           value="" placeholder="Your password">
                </div>
        <div style="height: 15px"></div>
        <div class="formFields">
                    <input type="email"
                           id="email"
                           value="" placeholder="enter your email">
                </div>
        <div style="height: 30px"></div>
        <div class="formFields">
            <input type="submit" value="Submit">
            </div>
    </form>
</div>
<div style="clear: both"></div>
<footer id="someFooter"></footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<script type="text/javascript" src="../static/js/register.js"></script>
<script type="text/javascript" src="../static/js/registerValidator.js"></script>
</body>
</html>