<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>logi</title>
</head>
<body>
<form id="form" method="post" action="/login">
    type your login <input type="text"  id="username" name="username"/>
    type your password <input type="password" id="password" name="password"/>
    <input type="submit" value="Lets Do This!" />
</form>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="../static/js/logowanie.js"></script>
</body>
</html>